body {
  background-color: #5691ef;
  animation-name: body;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.rising {
  width: 200px;
  height: 200px;
  background: #efdd53;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  animation-direction: alternate;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: move;
  animation-timing-function: ease-in-out;

}

.starblock {
  position: relative;
  left: 400px;
}

.star1 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  left: 20px;
  bottom: 30px;
  background-color: #bccbe5;
}
.star2 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  left: 40px;
  background-color: #bccbe5;
}
.star3 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  left: 40px;
  top: 30px;
  background-color: #bccbe5;
}

@keyframes move {
  0% {
    transform: translateY(0); background-color: #efdd53;
  }
  100% {
    transform: translateY(400px); background-color: #ed2323;
  }
}

@-webkit-keyframes move {
  0% {
    transform: translateY(0); background-color: #efdd53;
  }
  100% {
    transform: translateY(400px); background-color: #ed2323;
  }
}

@keyframes body {
  0% {
    transform: translateY(0); background-color: #5691ef;
  }
  100%{
    transform: translayeY(400px); background-color: #2a4a7c}
}

@-webkit-keyframes body {
  0% {
    transform: translateY(0); background-color: #5691ef;
  }
  100%{
    transform: translayeY(400px); background-color: #2a4a7c}
}